body {
  /* general text style*/
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  background-color: #E8E8E8;
}

h1 {
  font-weight: 400;
  font-size: 7rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

img {
  margin-bottom: 5%;
  margin-top: 5%;
}

table {
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

td {
  width: 100%;
  font-size: 3.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  border: 5px solid grey;
  border-style: inset;
  border-radius: 20px;
}

tr td button {
  height: 8vh;
  /*margin-bottom: 5vh;*/
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
}

tr td input {
  /*height: 100%;*/
  /* margin-bottom: 10%; */
  text-align: center;
  font-size: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  max-height: 70vh;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin-top: 5%;

  /*to be deleted*/
  /*background-color: yellow;*/
}

.btn-primary {
  /*height: 80%;*/
  width: 100%;
  border-radius: 20px;
  background-color: #0165A4;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

#result {
  height: 8vh;
  border: 5px solid grey;
  border-style: inset;
  text-align: center;
  font-size: 5rem;
  border-radius: 20px;
  justify-content: center;
}
