body {
  /* general text style*/
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  background-color: #F5F5F5;
}

h1 {
  font-weight: 400;
  font-size: 7rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

img {
  margin-bottom: 5%;
  margin-top: 5%;
}

table {
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-between;
}

td {
  width: 100%;
  font-size: 3.5rem;
  font-weight: 400;
}

input {
  width: 100%;
  border: 5px solid grey;
  border-style: inset;
  border-radius: 20px;
}

tr td button {
  height: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
}

tr td input {
  height: 10vh;
  margin-bottom: 2vh;
  text-align: center;
  font-size: 7.5rem;
}

.btn-primary {
  height: 80%;
  width: 100%;
  border-radius: 20px;
  background-color: #0165A4;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

#result {
  height: 10vh;
  border: 5px solid grey;
  border-style: inset;
  text-align: center;
  font-size: 7.5rem;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
  max-width: 90%;

  /*to be deleted*/
  /*background-color: yellow;*/
}
